body{
    

        background-image: linear-gradient(to bottom right,#867AE9 10%, blue 90%);
        font-family: 'Open Sans', sans-serif;
        margin: 0;
            }

table{
    width: 100%;
}

td{
    width: 50%;
}

hr{
    border-style: solid;
    border-color: white;
    margin: 0 0 0 0;
}


a:hover{
    color: cornflowerblue;
}



.nav{
border-radius: 10px;
border: white;
border-style: solid;
border-width: 15px;
height: 160px;
font-size: 100px;
text-align: left; 
color: white;
margin: 15px 70px 15px 70px;
padding-left: 15px;
font-family: 'Shadows Into Light', cursive;
}

.nav a:visited{
    color: white;
}

.nav a{text-decoration: none;}

.section{
    border-radius: 10px;
    height: 15rem;
    background-color: #A5E1AD;
    margin: 50px 70px 0px 70px ;
    padding: 0 0 0 0;
    
}

.heading{
    font-size: 60px;
    padding: 40px 0 0 25;
    color: #867AE9;
    text-align: center;
    letter-spacing: 1.5rem;
}

.sprints{
    font-size: 30px;
    text-decoration: underline;
    margin: 0 10px 0 10px;
    margin-top: 50px;
    color: black;


}

.sprints-section{
    text-align: center;
    padding: 50px 0px 0px 0px;
    
}


.tasks{
    font-size: 20px;
    text-decoration: underline;
    margin: 50px 10px 0px 10px;
    color: black;
    text-align: center;
}


.task-data{
    text-align: left;
    padding: 50px 30px 0px 30px;
    
}

.task-section{
    height: 30rem;
}


.html-css-body{
    margin: 0px 70px 0px 70px;
    padding: 10px 20px 10px 20px;
    background-color: #A5E1AD;
    border-radius: 10px;


}