

 /*Multiple Pages */


body{
        background-image: linear-gradient(to bottom right,#867AE9 10%, blue 90%);
        font-family: 'Open Sans', sans-serif;
        margin: 0;
            }

table{
    width: 100%;
}

td{
    width: 50%;
}

hr{
    border-style: solid;
    border-color: white;
    margin: 0 0 0 0;
}

nav{
    margin: 25px 0 0 0;
    padding: 5px 0 5px 0;
    background-color: #867AE9;
    text-align: center;
}

a:hover{
    color: cornflowerblue;
}

.nav-item{
    text-align: center;
    margin: 0px 40px 0px 40px;
    padding: 0px 30px 0px 30px;
    text-decoration: none;
    background-color: rgb(53, 53, 173);
    color: white;
    font-size: 30px;
    border-radius: 5px;

}

.nav{
border-radius: 10px;
border: white;
border-style: solid;
border-width: 15px;
height: 160px;
font-size: 100px;
text-align: left; 
color: white;
margin:15px 700px 15px 15px;
padding: 0 60px 0 15px;
display:inline;
font-family: 'Shadows Into Light', cursive;
}

.nav a:visited{
    color: white;
}

.nav a{text-decoration: none;}

.section{
    border-radius: 10px;
    height: 15rem;
    background-color: #A5E1AD;
    margin: 50px 15px 0px 15px ;
    padding: 0 0 0 0;
    
}







.page-body{
    height: auto;
    padding: 50px 100px 50px 100px;
    text-align: center ;
}

li, .page-body{
    text-align: left;
}


 /*Home Page */

.tasks{
    font-size: 20px;
    text-decoration: underline;
    margin: 50px 10px 0px 10px;
    color: black;
    text-align: center;
}


.task-data{
    text-align: left;
    padding: 50px 30px 0px 30px;
    
}

.task-section{
    height: 30rem;
}

.heading{
    font-size: 60px;
    padding: 40px 0 0 25;
    color: #867AE9;
    text-align: center;
    letter-spacing: 1.5rem;
}





  /*html-ccs.html CSS */

  .html-css-body{
    margin: 15px 15px 0px 15px;
    padding: 10px 20px 10px 20px;
    background-color: #A5E1AD;
    border-radius: 10px;
}

strong{
    color: red;
    font-weight: bold;
}


.absolute-div{
    height: 100px;
    width: 100px;
    background-color: red;
    display:inline-block;
    position: absolute;
    left: 500px;

    
}

.fixed-div{
    height: 100px;
    width: 100px;
    background-color: red;
    display:inline-block;
    position: fixed;
    right: 0px;
    bottom: 0px;

}

.relative-div{
    height: 100px;
    width: 100px;
    background-color: red;
    display:inline-block;
    position: relative;
    left: 210px;
}

.extra-div{
    height: 100px;
    width: 100px;
    background-color: blue;
    display:inline-block;
    

}

  /*identity-values.html CSS */


 /*Learning Plan CSS */


 /* eqiq.html CSS */

 .scenario-section{
    border-style: solid;     
    border-color: black;
    text-align: center;
    padding: 0px 30px 15px 30px;
    margin-top: 50px;
    margin-bottom: 50px;
 }

 .EQ-IQ-Heading{
text-align: center;
 }



 /*Learning Plan CSS */
 .people-image{
     width: 25%;
     height: auto;

 }

 .fun-fact{
     font-style: italic;
     color: #867AE9;
     font-size: 150%;
     text-align: center;
 }